body{
    background-color: black;
}
.navigation{
    background-color: black;
}
.home:hover{
    border-radius: 50px;
    box-shadow: 2px 3px 8px;
    border: 2px groove rgb(238, 231, 231);
    

}
.tele:hover{
    border-radius: 50px;
    box-shadow: 2px 3px 8px;
    border: 2px groove rgb(238, 231, 231);
    

}
.about:hover{
    border-radius: 50px;
    box-shadow: 2px 3px 8px;
    border: 2px groove rgb(238, 231, 231);
    

}
.card{
    border-radius: 50px;
}
