body{
    background-color: black;
}
.navigation{
    background-color: black;
}
.home:hover{
    border-radius: 50px;
    box-shadow: 2px 3px 8px;
    border: 2px groove rgb(238, 231, 231);
    

}
.tele:hover{
    border-radius: 50px;
    box-shadow: 2px 3px 8px;
    border: 2px groove rgb(238, 231, 231);
    

}
.about:hover{
    border-radius: 50px;
    box-shadow: 2px 3px 8px;
    border: 2px groove rgb(238, 231, 231);
    

}
.card{
    border-radius: 50px;
}
.fashion{
    background-color:rgb(230, 202, 49);
    border-radius: 30px;
}
.couple{
    border-radius: 30px;
}
.fashion:hover{
    background-color:  rgb(142, 192, 204);	
}
.label{
    color:rgb(230, 202, 49); ;
   
}
.pics{
    border-radius: 60%;

}
img:hover{
  box-shadow: 2px 3px 5px rgb(230, 202, 49);
    opacity: .50}
.caro{
    box-shadow: 2px 2px 10px rgb(230, 202, 49);
    }

